.toggle{
    display: flex;
    justify-content:space-between ;
    border: 3px solid  var(--orangeCard);
    position: relative;
    padding: 2px;
    cursor: pointer;
    border-radius: 1rem;
    height: 16px;
    width: 40px;
}
.toggle *{
    width: 1rem;
    height: 1rem;
    color: var(--orangeCard);
}
.togglebtn{
    border-radius: 100%;
    background: var(--orangeCard);
    position: absolute;

}